body {
    background-color: black;
    color: gray;
}

header, main, nav, footer, #content {
    text-align: center;
    margin: 0 auto;
    width: 960px;
}

nav a { /* links within "nav" container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;   /* removes underline */
    color: white;            /* by default, links are blue */
}

hr {
    width: 50%;
}

nav a:hover, #current {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

#me, #welcomeText {
    float:left;
}

#welcomeText {
    text-align: left;
}

#pic {
    border-radius: 90px;    
}

footer {
    clear: left;
    font-size: small;
    color: orange;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    text-align: left;
    padding-left: 200px;
}

.hobby {
    color: yellow;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}